<h3><%= @television_show.title %></h3>

<ul>
  <li>Network: <%= @television_show.network %></li>
  <li>Years: <%= @television_show.years %></li>
</ul>

<div>
  <%= @television_show.synopsis %>
</div>
