<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Lunar Kitchen</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/app.css">

  <script src="/js/vendor/modernizr.js"></script>
</head>
<body>

<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Lunar Kitchen</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="/recipes">Recipes</a></li>
      </ul>
    </section>
  </nav>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= yield %>
  </div>
</div>

<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/fastclick.js"></script>
<script src="/js/foundation.min.js"></script>

<script>
  $(document).foundation();
</script>

</body>
</html>
