<h1><%= @recipe.name %></h1>

<h3>Description</h3>
<p><%= @recipe.description %></p>

<h3>Instructions</h3>
<p><%= @recipe.instructions %></p>

<h2>Ingredients</h2>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>

<p><a href="/recipes">Back to Recipes</a></p>
