<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="/home.css">
  </head>

  <body>
    <h1>TODO list</h1>

    <ul>
      <% tasks.each do |task| %>
        <li><a href="/tasks/<%= task %>"><%= task %></a></li>
      <% end %>
    </ul>

    <form action="/tasks" method="post">
      <label for="task_name">New Task:</label>
      <input type="text" id="task_name" name="task_name">

      <input type="submit">
    </form>
  </body>
</html>
