<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="/home.css">
  </head>

  <body>
    <h1>
      The task is <%= task_name %>
    </h1>

    <a href="/tasks">All tasks</a>
  </body>
</html>
