body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: WhiteSmoke;
}

div.container {
  margin-left: 5%;
  margin-right: 5%;
}

table.songs {
  width: 100%;
}

table th {
  border-bottom: 1px solid black;
}
